# Windowsの設定ファイル (Thumbs.db, Desktop.ini等)
Thumbs.db
ehthumbs.db
Desktop.ini

# Windowsの隠しフォルダ
$RECYCLE.BIN/

# Visual Studio関連 (もし使用していれば)
.vs/
*.user
*.suo
bin/
obj/

# Windowsのショートカット
*.lnk
Uploads/1.tflite
Uploads/2 (1).tflite
Uploads/2 (2).tflite
Uploads/2.tflite
Uploads/detect.tflite
Uploads/efficientnet-tflite-lite0-fp32-v2.tar.gz
Uploads/model.tflite
Uploads/ssdlite_mobilenet_v2_coco.tflite
